
.gradle/5.4.1/executionHistory/executionHistory.lock

.gradle/5.4.1/fileHashes/fileHashes.bin

.gradle/5.4.1/fileHashes/fileHashes.lock

.gradle/buildOutputCleanup/buildOutputCleanup.lock

.idea/codeStyles/codeStyleConfig.xml

.idea/codeStyles/Project.xml

.idea/gradle.xml

.idea/runConfigurations.xml

.idea/vcs.xml

MyNavigation.iml

.idea/workspace.xml

.gradle/5.4.1/executionHistory/executionHistory.bin

.gradle/5.4.1/fileHashes/resourceHashesCache.bin

.gradle/5.4.1/fileContent/fileContent.lock

.gradle/buildOutputCleanup/outputFiles.bin
